# Django
SECRET_KEY=JC4sToe664zqyrs6xM8UQDgwqVE-6aMBLYLbQv6i5N5y7bC5SajqSjHPzt8UJUqbZ8a
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DATABASE_URL=postgresql://postgres.hngrlapdmmzuduclwmzc:The.buyer2026@aws-1-eu-north-1.pooler.supabase.com:5432/postgres

# JWT
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=60
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7

# Redis (for Celery)
REDIS_URL=redis://localhost:6379/0

# Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=austinemakwaka254@gmail.com
EMAIL_HOST_PASSWORD=Kitale@2025
EMAIL_USE_TLS=True

# Cors
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# Media & Static
MEDIA_ROOT=media/
STATIC_ROOT=staticfiles/
